.tech {
    padding: 50px;
    background: #111010;
    text-align: center;
}

.tech h1 {
    margin-bottom: 20px;
    color: #f8eded;
}

.tech__slider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 20px 0;
    gap: 20px;
}

.tech__slider .slide {
    min-width: 200px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #555;
}
